<a href="https://colab.research.google.com/github/tazar09/situatii_financiare_2022/blob/main/testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
#Import situatii financiare dataframe
url_web_bl_bs_2022 = 'https://data.gov.ro/dataset/aa2567a4-e7d7-4e6e-ab19-d08d39f99996/resource/b35fab04-f101-42d7-a765-8f41728b373a/download/web_bl_bs_sl_an2022.txt'
df = pd.read_csv(url_web_bl_bs_2022)

In [ ]:
#Import coloane dataframe
url_coloane_2022 = 'https://data.gov.ro/dataset/aa2567a4-e7d7-4e6e-ab19-d08d39f99996/resource/0079a6b0-0a5a-4be9-a26a-857449f41c25/download/web_bl_bs_sl_an2022.csv'
coloane = pd.read_csv(url_coloane_2022)

In [ ]:
list_ind = list(coloane['CUI;CUI'])
list_ind.insert(0, 'CUI')
len(list_ind)

In [ ]:
df.columns = list_ind
df.columns

In [ ]:
columns_names = list(df.columns)

In [ ]:
# Regex pattern
regex = r';i\d{1,2}$'

# Apply the regex pattern to the column names
new_column_names = []
for column_name in columns_names:
    new_column_name = re.sub(regex, '', column_name)
    new_column_names.append(new_column_name)

In [ ]:
df.columns = new_column_names
df.columns = df.columns.str.lower()

In [ ]:
df.columns

In [ ]:
df.columns = ['cui', 'caen', 'active imobilizate - total',
       'active circulante - total din care:', 'stocuri', 'creante',
       'casa si conturi la banci', 'cheltuieli in avans', 'datorii',
       'venituri in avans', 'provizioane', 'capitaluri - total din care:',
       'capital subscris varsat', 'patrimoniul regiei',
       'cifra de afaceri neta', 'venituri totale', 'cheltuieli totale',
       'profitul brut', 'pierdere bruta', 'profitul net', 'pierdere neta',
       'numar mediu de salariati']

In [ ]:
#Import lista platitori
url_platitori = '/content/date_identificar_platitori_2023_txt..txt'
lista_platitori = pd.read_csv(url_platitori, sep = '|', on_bad_lines='skip')

<ipython-input-69-9bc90555c448>:3: DtypeWarning: Columns (2,10,11,14,15,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  lista_platitori = pd.read_csv(url_platitori, sep = '|', on_bad_lines='skip')

In [ ]:
lista_platitori.reset_index(inplace = True)

In [ ]:
lista_platitori.columns = ['COD_FISCAL', 'DENUMIRE', 'COD_FISCAL_PARINTE', 'TIP_UNITATE',
       'TIP_CONTRIB', 'LOCALITATE', 'STRADA', 'NR', 'DATA_INREGISTRARE',
       'DATA_PRELUCRARE', 'FAX', 'SECTOR', 'TELEFON', 'JUDET_COMERT',
       'NR_COMERT', 'AN_COMERT', 'ACT_AUTORIZARE', 'TVA', 'DATA_RADIERE',
       'COD_POSTAL', 'DATA_STARE', 'STARE', 'JUDET', 'IMP100', 'IMP120',
       'IMP130', 'IMP160', 'ACCIZE200', 'CONT410', 'CONT412', 'CONT416',
       'CONT420', 'CONT423', 'CONT430', 'CONT432', 'IMP439', 'IMP451',
       'IMP461', 'IMP473', 'IMP474', 'CONT480', 'IMP500', 'IMP602', 'IMP611',
       'IMP625', 'IMP632', 'IMP633', 'IMP634', 'IMP701', 'IMP710', 'IMP711',
       'IMP712', 'IMP713', 'IMP755', 'IMP756', 'IMP940', 'DETALII_ADRESA',
       'BLOC', 'SCARA', 'ETAJ', 'AP', 'empty']

In [ ]:
lista_platitori.shape

(2052583, 62)

In [ ]:
#Import cod impozit dataframe
url_cod = '/content/cod_impozit.xlsx'
lista_impozite = pd.read_excel(url_cod)
lista_impozite['COD_IMP'] = 'IMP' + lista_impozite['COD_IMP'].astype(str)

In [3]:
git remote add origin https://github.com/tazar09/situatii_financiare_2022.git
git branch -M main
git push -u origin main

SyntaxError: ignored

In [ ]:
#TESTE

In [ ]:
df1 = df[['cui', 'caen', 'active imobilizate - total',
       'active circulante - total din care:', 'datorii',
       'capitaluri - total din care:',
       'capital subscris varsat', 'patrimoniul regiei',
       'cifra de afaceri neta',
       'profitul brut', 'pierdere bruta', 'profitul net', 'pierdere neta',
       'numar mediu de salariati']]

In [ ]:
df2 = df1[['cui', 'caen','numar mediu de salariati']].sort_values('numar mediu de salariati', ascending = False).head(20)

In [ ]:
df2.head(10)

            cui  caen  numar mediu de salariati
22491  40256068  4120                   19216.0
5834    1590120   210                   14262.0
76217  15991149  4711                   13827.0
5980   11607939  4711                   13714.0
55168  47080235  6201                   12517.0
6342    2816464  4752                   12245.0
5230     160796  2910                   12195.0
6058    6719278  4711                   10618.0
5833    1589886  4931                   10179.0
76446  22891860  4711                   10086.0

In [ ]:
df.head()

,cui,caen,active imobilizate - total,active circulante - total din care:,stocuri,creante,casa si conturi la banci,cheltuieli in avans,datorii,venituri in avans,...,capital subscris varsat,patrimoniul regiei,cifra de afaceri neta,venituri totale,cheltuieli totale,profitul brut,pierdere bruta,profitul net,pierdere neta,numar mediu de salariati
0,1758080,4931,16250707.0,12600287.0,922470.0,11449101.0,228716.0,650906.0,27949623,21426.0,...,210755.0,NaN,39213937.0,40326671.0,39905042.0,421629.0,0.0,274227.0,0.0,NaN
1,1770555,2899,4382308.0,13167071.0,6243032.0,3050034.0,3874005.0,25919.0,7307533,NaN,...,720.0,NaN,21480601.0,21616592.0,18740693.0,2875899.0,0.0,2486912.0,0.0,99.0
2,1772076,1431,3991824.0,13670457.0,9949344.0,2795638.0,925475.0,35908.0,6032140,486167.0,...,3990125.0,NaN,19048965.0,21765244.0,21733706.0,31538.0,0.0,31538.0,0.0,197.0
3,1774336,4941,21747409.0,12896215.0,10201046.0,1945071.0,750098.0,450.0,1258049,NaN,...,15000.0,NaN,16695296.0,13086584.0,11190142.0,1896442.0,0.0,1645894.0,0.0,19.0
4,2763904,1089,3186213.0,53223368.0,36399030.0,6481835.0,10342503.0,15708.0,23711439,NaN,...,17000000.0,NaN,42440258.0,43968685.0,40528519.0,3440166.0,0.0,3035703.0,0.0,46.0

In [ ]:
# column_mask = ['CUI', 'Cifra de afaceri neta;i13', 'DATORII;i7','Profitul brut;i16','Pierdere bruta;i17', 'Profitul net;i18', 'Pierdere neta;i19']
df.shape